Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
.nuget/
packages/
Index.dat
.metadata
.sass-cache
.project
.buildpath
.settings
.idea/

# Data Folder
data/*
!data/attach/.htaccess
!data/attach/index.html
!data/backup/.htaccess
!data/backup/index.html
!data/cache/.htaccess
!data/cache/index.html
!data/counter/.htaccess
!data/counter/index.html
!data/diff/.htaccess
!data/diff/index.html
!data/wiki/.htaccess
!data/wiki/index.html
